<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.whut.springboot03.dao.SearchMapper">

    <!-- 根据给的位置的经纬度查询对应区域的流量   -->
    <select id="searchDataByLoc" parameterType="searchLoc" resultType="int">
             select count(*) from didi where beginLon &gt;= #{Loca1_Lon}
            and endLat &lt;=#{Loca1_Lat} and beginLon &lt;=#{Loca4_Lon} and endLat &gt;=#{Loca4_Lat}
    </select>

</mapper>